<!DOCTYPE html>
<html>
	<body>
		<h1>POSTS index</h1>
		<% postsList.forEach(function(post) { %>
		<div>
  			<%= post.title %>
  		<div>
    		<%= post.content %>
  		</div>
	</div>
	<% }) %>
	</body>
</html>