<!DOCTYPE HTML>
<html>
<body>
<h1>Authors index</h1>
<% authorsList.forEach(function(author) { %>
<div>
  <%= author.firstName %>
  <div>
    <%= author.lastName %>
    <div>
    	<%= author.age %>
    </div>
  </div>
</div>
<% }) %>
</body>
</html>