<!DOCTYPE html>

<html>
  <head>
  </head>
  <body> 
    <form method="post" action="/authors">
      <input type="text" name="author[firstName]" placeholder="First Name">
      <input type="text" name="author[lastName]" placeholder="Last Name">
      <input type="text" name="author[age]" placeholder="Age">
      <button>Save </button>
    </form>
  </body>
</html>